BODY {
	SCROLLBAR-FACE-COLOR: #dbc2b0; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #996600; COLOR: #996600; SCROLLBAR-3DLIGHT-COLOR: #996600; SCROLLBAR-ARROW-COLOR: #ffffff; FONT-FAMILY: ו; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #dbc2b0; BACKGROUND-COLOR: #ffffff
}
A:visited {
	COLOR: #996600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:link {
	COLOR: #996600; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #996600
}
